@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Source+Code+Pro&display=swap');

body{
  font-family: 'Source Code Pro', monospace;
  margin: 0px;
  background-color: rgb(25,25,25);
  color: rgb(255, 255, 255);
}

header h1{
  font-family: 'Castoro Titling', cursive;
  text-align: center;
}

header nav{
  width:100%;
  height: 60px;
  background-color: rgb(220,20,60);
}

header nav ol{
  display: block;
  width:720px;
  list-style: none;
  padding:0px;
  margin: auto;
}

header nav ol>li{
  float:left;
  font-size: 0;
  width: 120px;
  height: 60px;
  background-color: rgb(220,20,60);
  text-align: center;
}

header nav ol>li:hover{
  background-color: rgb(210,10,50);
}

header nav ol>li a{
  font-size:16px;
}

header nav ol>li a:link{
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
}

header nav ol>li a:visited{
  color:rgb(245, 245, 245);
  text-decoration: none;
}

section h2{
  color:gold;
  text-align: center;
}

.platforma{
  background-color: rgb(15,15,15);
  width: 1000px;
  height: 500px;
  border-radius: 20px;
}

.platforma .text{
  text-align: justify;
  padding: 20px 0px 0px 0px;
  width: 900px;
  height: 200px;
}

.platforma .fade{
  z-index: 100;
  border-radius: 20px;
  height: 300px;
  width: 1000px;
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 0) 70%);
}

section div{
  width: 900px;
  margin: auto;
}

.PojemnikNaObrazy{
  position: relative;
  width: 300px;
  height: 330px;
  float:left;
  cursor: pointer;
}

section div .PojemnikNaObrazy img{
  border-radius: 20px 20px 0px 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section div .PojemnikNaObrazy img:hover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PojemnikNaObrazy .legenda{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0%;
}

.PojemnikNaObrazy .legenda .tloLegendy{
  height: 25px;
  width: 300px;
  background-color: rgb(15, 15, 15);
  position: absolute;
  bottom: 0%;
}

.PojemnikNaObrazy .legenda .tloLegendy .textLegendy{
  height: 25px;
  width: 300px;
  line-height: 25px;
  text-align: center;
}

footer{
  margin-top: 20px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: rgb(220,20,60);
  text-align: center;
}
